* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #d8b690;
  background-image: url("./images/background.jpeg");
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(158, 92, 95);
  justify-content: center;
  align-items: center;
}

.btn {
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .btn {
  font-size: 1.2rem;
}

.main {
  width: 90%;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.form-control {
  font-size: 1.2rem;
  justify-content: center;
}

.main-heading {
  margin: 2rem 0;
  justify-content: center;
}

.hide {
  display: none;
  justify-content: center;
}

.active {
  border: 2px solid #61b2c0;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border: none;
  color: rgb(161, 82, 82);
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
}

.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: rgb(170, 91, 91);
  letter-spacing: 1px;
}

.top-search {
    justify-content: center;
    align-items: center;
}

.loader-open {
  overflow: hidden;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.search-buttons {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  background: #fff0f0;
  letter-spacing: 2px;
  font-weight: bold;
  color: #527fb9;
}


.albums,
.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
    margin: 1rem;
    box-shadow: 0 2px 7px 3px #949ca5;
  }
  
.card .card-image-link {
    padding: 1rem;
    text-align: center;
}
  
.card img {
    max-width: 250px;
    height: 250px;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
  

@media screen and (max-width: 400px) {
  .search-buttons {
    flex-direction: column;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
  .card img {
    height: auto;
    width: auto;
  }
  .main-heading {
    text-align: center;
  }
}
